<data id="internet_status_data"></data>

<table class="table table-responsive table-bordered table-sm" id="status_table">
    <thead>
        <th scope="col">Date</th>
        <th scope="col">Days</th>
        <th scope="col">hours</th>
        <th scope="col">minutes</th>
        <th scope="col">Days</th>
        <th scope="col">hours</th>
        <th scope="col">minutes</th>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="status_logs">
    {% for log in [] %}
    <div class="{{'alert alert-success' if log.status else 'alert alert-danger'}}" role="alert">
        {{log}}
    </div>
    {% endfor %}
</div>