<div class="card-group">

    {% for name in ["all", "month"] %}

    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Logs for {{ name }}</h5>
            <p class="card-text">From to
            </p>
            <p class="card-text"> days, hours and
                minutes</p>
        </div>
        <ul class="list-group list-group-flush">

            {% for entry_msg, color in [( "There was connection for", "bg-success"),
                                        ( "There was no connection for", "bg-danger")] %}
            <li class="list-group-item {{color}}">
                <p class="card-text">{{entry_msg}}</p>
                <p class="card-text">days,
                    hours and
                    minutes</p>
                <p class="card-text font-weight-bold">
                </p>
            </li>

            {% endfor %}

        </ul>


    </div>

    {% endfor %}
</div>
<div>
    {% for log in [] %}
    <div class="{{'alert alert-success' if log.status else 'alert alert-danger'}}" role="alert">
        {{log}}
    </div>
    {% endfor %}
</div>