<data id="internet_speed_data"></data>
<script type="text/javascript" src="{{ url_for('static', filename='ic_site/speed_chart.js') }}">
</script>
<canvas id="myChart" style="position: relative; height:35vh; width:80vw" , log_date_list="" log_download_list=""
    log_upload_list=""></canvas>

<table class="table table-responsive" id="speed_table">
    <thead>
        <th scope="col">#</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Max upload</th>
        <th scope="col">Max download</th>
        <th scope="col">Avg upload</th>
        <th scope="col">Avg download</th>
    </thead>
    <tbody>
    </tbody>
</table>