<script type="text/javascript" src="{{ url_for('static', filename='ic_site/script.js') }}">
</script>

<table class="table">
    <tr>
        <td>
            <h1>Internet Check</h1>
        </td>
        <td class="text-right">
            <h2 id="time"></h2>
        </td>
    </tr>

</table>
{% if last_status.status %}
<div class="alert alert-success" role="alert">
    Current status: True <svg class="bi bi-emoji-laughing" width="2em" height="2em" viewBox="0 0 16 16"
        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path fill-rule="evenodd"
            d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5z" />
        <path
            d="M7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z" />
    </svg>
    Download: {{last_status.download}} Mb/s, upload: {{last_status.upload}} Mb/s
</div>
{% else %}
<div class="alert alert-danger" role="alert">
    Current status: False <svg class="bi bi-emoji-frown" width="2em" height="2em" viewBox="0 0 16 16"
        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path fill-rule="evenodd"
            d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5z" />
        <path
            d="M7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z" />
    </svg>
</div>
{% endif %}

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="false" aria-controls="collapseOne">
                    Internet Speed
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">


                <canvas id="myChart" width="400" height="100" , log_date_list="{{log_date_list}}"
                    log_download_list="{{log_download_list}}" log_upload_list="{{log_upload_list}}"></canvas>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">From</th>
                            <th scope="col">To</th>
                            <th scope="col">Max upload</th>
                            <th scope="col">Max download</th>
                            <th scope="col">Avg upload</th>
                            <th scope="col">Avg download</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for name, stats in speed_data.items()%}
                        <tr id="{{name}}_dates" onClick="zoomChart('{{name}}')" start_date="{{stats.start_date}}" end_date="{{stats.end_date}}">
                            <td scope="col">{{name}}</td>
                            <td scope="col" id="{{name}}_start_date">{{stats.start_date}}</td>
                            <td scope="col" id="{{name}}_end_date">{{stats.end_date}}</td>
                            <td scope="col">{{stats.max_upload}}</td>
                            <td scope="col">{{stats.max_download}}</td>
                            <td scope="col">{{stats.avg_upload}}</td>
                            <td scope="col">{{stats.avg_download}}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Internet status
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">

                <div class="card-group">

                    {% for name, statistic in data.items() %}

                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Logs for {{ name }}</h5>
                            <p class="card-text">From {{statistic.start_date.strftime("%Y.%m.%d")}} to
                                {{statistic.end_date.strftime("%Y.%m.%d")}}</p>
                            <p class="card-text">{{statistic.all.days}} days, {{statistic.all.seconds//3600}} hours and
                                {{(statistic.all.seconds//60)%60}} minutes</p>
                        </div>
                        <ul class="list-group list-group-flush">

                            {% for connection, connection_bool, entry_msg, color in [(statistic.connection, True, "There was connection for", "bg-success"),
                                                                             (statistic.no_connection, False, "There was no connection for", "bg-danger")] %}
                            <li class="list-group-item {{color}}">
                                <p class="card-text">{{entry_msg}}</p>
                                <p class="card-text">{{connection.days}} days, {{connection.seconds//3600}}
                                    hours and
                                    {{(connection.seconds//60)%60}} minutes</p>
                                <p class="card-text font-weight-bold">
                                    {{"{:.2f}".format(statistic.get_percent(connection_bool))}}%</p>
                            </li>

                            {% endfor %}

                        </ul>


                    </div>

                    {% endfor %}
                </div>
                <div>
                    {% for log in internet_status %}
                    <div class="{{'alert alert-success' if log.status else 'alert alert-danger'}}" role="alert">
                        {{log.msg()}}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>