<html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>K-Nanopi</title>
    <script type="text/javascript" src="{{ url_for('static', filename='base/base.js') }}"></script>
    {% for css in theme_css%}
    <link rel="stylesheet" href="{{ url_for('static', filename=css) }}">
    {% endfor %}
    <script type="text/javascript"
        src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/moment/moment.js') }}"></script>
    <script>
        moment().format();
    </script>
    <!-- Charts -->
    <script type="text/javascript"
        src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/hammerjs/hammer.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='node_modules/chartjs-plugin-zoom/chartjs-plugin-zoom.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='node_modules/chartjs-plugin-annotation/chartjs-plugin-annotation.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='node_modules/chartjs-plugin-labels/src/chartjs-plugin-labels.js') }}"></script>
    <!-- TableSorter -->
    <script type="text/javascript"
        src="{{ url_for('static', filename='node_modules/tablesorter/dist/js/jquery.tablesorter.js') }}"></script>
</head>

<body>
    {{navbar}}
    {{content}}

</body>

</html>