<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>K-Nanopi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <script type="text/javascript"
        src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/moment/moment.js') }}"></script>
    <script>
        moment().format();
    </script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/hammerjs/hammer.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='node_modules/chartjs-plugin-zoom/chartjs-plugin-zoom.js') }}"></script>


</head>

<body>
    {{navbar}}
    {{content}}

</body>

</html>