<script type="text/javascript" src="{{ url_for('static', filename='wim/monthly.js') }}">
</script>
<select id="monthly_choose" class="form-control form-control-lg" onchange="MonthlyChoose.onChange()">

</select>
<div class=" accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Summary
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">

                <div class="card-columns">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Bilans</h5>
                            <p class="card-text ">Wplywy: <span id="summary_card_income"></span></p>
                            <p class="card-text ">Wydatki: <span id="summary_card_outcome"></spanid></span></p>
                            <p class="card-text ">Bilans: <span id="summary_card_balanse"></span></span> </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Wydatki</h5>
                            <div id="summary_outcome_card">


                            </div>

                        </div>
                    </div>
                    <div>
                        <canvas id="summary_char">

                        </canvas>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Data
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <h3>Income</h3>
                <table id="wim_income_table" class="tablesorter table">
                    <thead>
                        <tr>
                            <th>Target</th>
                            <th>Date</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <h3>Outcome</h3>

                <table id="wim_outcome_table" class="tablesorter table">
                    <thead>
                        <tr>
                            <th>Target</th>
                            <th>Date</th>
                            <th>Value</th>
                            <th>Category</th>
                            <th>Edit Category</th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>

            </div>
        </div>
    </div>
</div>